* {
    padding: 0;
    margin: 0;

    color: #e8e8e8;
    font-family: "Roboto Mono";
    text-align: center;

    font-size: 18px;
}

body, html {
    width: 100%;
    height: 100%;

    background-color: #223325;
}

.container {
    height: 100%;
    width: 100%;
    
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    width: 100%;

    grid-template-columns: 1fr;
    gap: 40px;
}

@media only screen and (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);;
    }
}

.title {
    font-size: 2rem;
    font-weight: bold;
}

.link {
    display: block;
    font-size: 1.2rem;
}

.icon {
    font-size: 1.5rem;
    padding-right: 5px;
    vertical-align: middle;
}

.title, .link, .text {
    padding: 0 5px;
}
